click==7.1.1
colorhash==1.0.2
configparser==4.0.2
decorator==4.0.11
Flask-MonitoringDashboard==3.0.9
Flask==1.1.2
googlemaps==4.2.0
gunicorn==19.7.1
idna==2.5
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.1.1
nbformat==4.3.0
plotly
pytz==2019.3
requests==2.23.0
six==1.14.0
SQLAlchemy==1.3.16
traitlets==4.3.2
tzlocal==2.0.0
urllib3==1.21.1
Werkzeug==1.0.1
